/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
}

/* Encabezado */
header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo {
    font-size: 30px;
    color: #ff5733;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover, header nav ul li a.activo {
    color: #ff5733;
}

/* Sección Hero */
.hero {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #fff;
}

.hero-text .btn {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.hero-text .btn:hover {
    background-color: #e14d2c;
}

/* Sección de modelos destacados */
.destacados {
    text-align: center;
    padding: 50px 20px;
}

.destacados h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ff5733;
}

.grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 15px;
}

.card p {
    font-size: 1rem;
    color: #ccc;
    margin-top: 10px;
}

/* Pie de página */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
}
